<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cadastro de Caminhões</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Placa*:</ion-label>
    <ion-input type="text" [(ngModel)]="caminhao.placa"></ion-input>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" >
    <ion-fab-button (click)="salvar()" [disabled]="!caminhao.placa">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>